body{
    margin: 0;
    padding: 0;
}
#progress{
    height: 15px;
    background: rebeccapurple;
    position: fixed;
    top: 0;
    left: 0;
}
h1{
    width:70%;
    margin:20px auto;
}
p{
    font-family: cursive;
    font-size: 4vh;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
